* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, article, div {
    display: flex;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: auto; 
    margin: 0;
    padding: 0;
}

@media screen and(max-width:992px){
    #wrapper {
        padding: 15px;
    }
}

@media screen and(max-width:768px){
    #wrapper {
        padding: 10px;
    }
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    background-color:#B3D1FF;
    justify-content: space-between;
    
}

#right_header{
    display: flex;
    position: absolute;
}

#logo {
    width: 163px;
    height: 120px;
    position: absolute;
}

header h1 {
    color: rgb(255, 255, 255);
    top:30px;
    left:158px;
    height: 68px;
    font-size: 48px;
    position: relative;
}

#left_content_for_header {
    display: flex;
    position: relative;
}

header h2 {
    font-weight: lighter;
    color: white;
    top:47px;
    right: 30px;
    position: relative;
}

#danialimg {
    width: 88px;
    height: 86px;
    top:17px;
    right:22px;
    position: relative;
}

main h2 {
    padding-left: 30px;
    padding-top: 19px;
    font-weight: lighter;
}

main h4 {
    color: #0C59CF;
    padding-left: 30px;
    font-weight: lighter;
}

#back-to-homepage {
    position: absolute;
}

#home_img {
    width: 38px;
    height: 38px;
    display: flex;
    padding-left: 7px;
    padding-top: 22px;
}

.back-arrow {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    display:flex;
    padding-left: 30px;
    padding-top: 25px;
}

#profile-rectangle {
    padding-top: 263px;
    padding-left: 81px;  
}

#rectangle1{
    width: 344px;
    height: 513px;
    background-color: #B3D1FF;
    border-radius:  30px;
}

#yael-img {
    width: 141px;
    height: 140px;
    position: absolute;
    padding-left: 183px;
    padding-top: 190px;
}

#pin-img {
    width: 30px;
    height: 29.97px;
    position: absolute;
    padding-left: 375px;
    padding-top: 275px;
}

#yael-info {
    position: absolute;

}

#yael-info h2 {
    padding-left: 195px;
    padding-top: 340px;
    position:fixed;
}

#tel-aviv h3 {
    padding-top: 372px;
    padding-left: 223px;
    position: fixed;
}

#message-img {
    width: 40px;
    height: 40px;
    padding-left: 144px;
    padding-top: 410px;
}

#phone-img {
    width: 30px;
    height: 34px;
    padding-left: 61px;
    padding-top: 410px;
} 

#whatsapp-img {
    width: 30px;
    height: 34px;
    padding-left: 61px;
    padding-top: 410px;
}

#imgs-text {
   position: absolute;
   padding-top: 446px;
}

#imgs-text h4 {
   padding-left: 127px;
   color: black;
   
}

#imgs-text p {
   justify-content: space-between;
   padding-left: 14px;
}

#email-img {
    width: 26px;
    height: 24px;
    position: absolute;
    padding-left: 137px;
    padding-top: 475px;
}

#email-text {
    position: absolute;
    padding-top: 478px;
    padding-left: 169px;
}

#age {
    color: black;
    position: absolute;
    padding-left: 130px;
    padding-top: 523px;
}

#white-rec-base {
    position: absolute;
    flex-direction: column;
    margin-left: 176px;
    
}

#white-rec1 {  
    margin-top: 519px;
    width: 208px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    
}

#white-rec2 {
    width: 208px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    margin-top: 20px;
}

#age-num {
   color: #606060;
   position: absolute;
   padding-left: 258px;
   padding-top: 524px;
}

#kids {
    color: black;
    position: absolute;
    padding-left: 130px;
    padding-top: 573px;
}

#kids-num {
    color: #606060;
    position: absolute;
    padding-left: 263px;
    padding-top: 574px;
}

#rec-wrapper {
    position: absolute;
    margin-left: 130px;
    flex-direction: column;
}

#clothes-request {
    margin-top: 614px;
}

#big-white-rectangle1 {
    background-color: white; 
    width: 252px;
    height: 30px;
    border-radius: 3px;
    margin-top: 11px;

}

#big-white-rectangle2 {
    width: 252px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    margin-top: 11px;
}

#address-text {
    margin-top: 11px;
}

#clothes-details {
    margin-left: 4px;
    color: #606060;
    margin-top: -94px;
}

#address-detail {
    margin-left: 4px;
    color: #606060;
    margin-top: 53px;
}

#history {
    width: 27px;
    height: 27px;
    position: absolute;
    padding-left: 99px;
    padding-top: 781px;
}

#history-text {
    position: absolute;
    padding-top: 786px;
    padding-left: 133px;
}

#inside-big-rec {
    padding-left: 75px;
    padding-top: 130px;
}

#big-rectangle {
    width: 862px;
    height: 690px;
    background-color: #B3D1FF;
    border-radius: 30px;
}

#request-details {
    position: absolute;
    font-size: 30px;
    margin-top: 32px;
    margin-left: 40px;
}

#ask-for {
    position: absolute;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 91px;
}


#rectangle2{
    width: 426px;
    height: 690px;
    background-color: #B3D1FF;
    border: 30px;
    margin: 20px;
    padding: 20px;
    border-radius:  30px;
}
#rectangle3{
    width: 360px;
    height: 297px;
    background-color: #B3D1FF;
    border: 30px;
    margin: 20px;
    padding: 20px;
    border-radius:  30px;
}