* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, article, div {
    display: block;
    font-family:Istok web, sans-serif ;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: auto; 
    margin: 0;
    padding: 0;
}

@media screen and(max-width:992px){
    #wrapper {
        padding: 15px;
    }
}

@media screen and(max-width:768px){
    #wrapper {
        padding: 10px;
    }
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    background-color:#B3D1FF;
    justify-content: space-between;
    
}

#right_header{
    display: flex;
    position: absolute;
}

#logo {
    width: 163px;
    height: 120px;
    position: absolute;
}

#donoclothes {
    color: rgb(255, 255, 255);
    top:95px;
    left:100px;
    height: 68px;
    font-size: 48px;
    position: relative;
}

#left_content_for_header {
    display: flex;
    position: relative;
}

header h2 {
    font-weight: lighter;
    color: white;
    top:47px;
    right: 30px;
    position: relative;
}

#danialimg {
    width: 88px;
    height: 86px;
    top:17px;
    right:22px;
    position: relative;
}


/*home and date*/
main h2 {
    padding-left: 30px;
    padding-top: 19px;
    font-weight: lighter;
    font-size: 36px;
}

main h4 {
    color: #0C59CF;
    padding-left: 30px;
    font-weight: lighter;
    font-size: 15px;
}

/*haifa rectangle*/
#rectangles {
   position: absolute;
}

#branch-rectangle {
    margin-left: 56px;
    margin-top: 130px;
    width: 344px;
    height: 511px;
    background-color: #B3D1FF;
    border-radius: 22px;
    position: absolute;
    margin-top: 270px;
}

#haifa-branch {
    margin-left: 105px;
    margin-top: -72px;
}

#haifa-text {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 103px;
    
}

#address {
    color: black;
    font-size: 15px;
    margin-top: 9px;
    margin-left: 89px;

}

#branch-rectangle i {
    color: black;
    position: absolute;
    font-size: 30px;
    margin-top: 16px;
    margin-left: 45px;
}

#location-icon i {
    position: absolute;
    margin-left: 61px;
}

#phone-icon i {
    position: absolute;
    padding-left: 106px;
}

#whatsapp-icon i {
    position: absolute;
    margin-left: 246px;
}

#location {
    position: absolute;
    margin-left: 47px;
    margin-top: 50px;
}

#phone-num {
    position: absolute;
    margin-top: 50px;
    margin-left: 130px;
}

#whatsapp-txt {
    position: absolute;
    margin-top: 50px;
    margin-left: 220px;
}

#mail-icon i {
    position: absolute;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 75px;
}

#haifa-mail {
    position: absolute;
    margin-top: 80px;
    margin-left: 53px;
    font-size: 14px;
}

#storage-quantity {
    position: absolute;
    margin-left: 65px;
    margin-top: 110px;
}

#white-red-rec {
    width: 266px;
    height: 160px;
    background-color: white;
    border: 1px solid #FF0000;
    border-radius: 11px;
    margin-left: 35px;
    margin-top: 140px;
}

#storage-txt {
    font-size: 17px;
    margin-left: 5px;
    color: #FF0000;
}

#check-storage {
    width: 208px;
    height: 38px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #3D8AF7;
    border: #3D8AF7;
    color: white;
    margin-left: 65px;
    margin-top: 20px;
}



/*lists rectangles*/
#list-rec1 {
    width: 394px;
    height: 690px;
    background-color: #B3D1FF;
    border-radius: 22px;
    position: absolute;
    margin-left: 449px;
    margin-top: 130px;
    overflow: hidden;
}


h1 {
    color: black;
    margin-left: 70px;
    margin-top: -60px;
    font-size: 24px;
}

ul {
    color: black;
    list-style-type: none;
    margin-top: 40px;
    padding: 4px;
}

li {
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

li img {
    margin-right: 10px;
    width: 71px; 
    height: 72px; 

}

li div {
    flex: 1;
}

.search-bar input[type="text"] {
    font-size: 18px;
    height: 24px;
    margin-left: 40px;
    margin-top: 53px;
    border-radius: 90px;
    border: white;
}

#scroll-button {
    width: 394px;
    height: 30px;
    font-size: 30px;
    border-radius: 45px;
    border: #B3D1FF;

}

#list-rec2 {
    width: 394px;
    height: 690px;
    background-color: #B3D1FF;
    border-radius: 22px;
    position: absolute;
    margin-left: 900px;
    margin-top: 130px;
    overflow: hidden;
}

a {
    text-decoration: none; 
    color: black;
}







/*check_what_she_want page arrow*/
#back-to-homepage {
    position: absolute;
}

#home_img i {
    position: absolute;
    display: flex;
    margin-left: 80px;
    margin-top: -33px;
    font-size: 38px;
}

.back-arrow {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    display:flex;
    margin-left: 30px;
    margin-top: 25px;
}

#profile-rectangle {
    margin-top: 345px;
    margin-left: 56px;  
}

#rectangle1 {
    width: 344px;
    height: 513px;
    background-color: #B3D1FF;
    border-radius:  22px;

}

#pin-img i {
    font-size: 30px;
    position: absolute;
    margin-left: 285px;
    margin-top: 13px;
}

#yael-img {
    width: 141px;
    height: 140px;
    position: absolute;
    margin-left: 103px;
    margin-top: -70px;
}

#yael-info {
    position: absolute;
    margin-top: 63px;
    width: 233px;
}

#name-yael {
    font-size: 24px;
    margin-left: 78px;
    position: absolute;
}

#tel-aviv {
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;
    font-size: 15px;
}

#yael-info i {
    position: absolute;
    font-size: 30px;
    margin-top: 88px;
    margin-left: 45px;
}

#message-img i {
    position: absolute;
    font-size: 30px;
    margin-left: 61px;
    margin-top: 90px;
}

#phone-img i {
    position: absolute;
    margin-left: 151.5px;
    font-size: 30px;
}

#whatsapp-img i {
    position: absolute;
    font-size: 30px;
    margin-left: 246px;
}

#imgs-text {
    position: absolute;
    margin-top: 122px;
    justify-content: space-between;
    display:flex;
    
 }
 
 #imgs-text h4 {
    color: black;
    font-size: 15px;
    margin-left: 10px;
 }
 
 #number {
    margin-left: 15px;
    font-size: 16px;
 }

 #whats-app {
    margin-left: 12px;
    font-size: 16px;
 }

 #mail-img i{
    font-size: 24px;
    margin-top: 147px;
    margin-left: 60px;
 }

 #email-text {
    position: absolute;
    margin-top: 152px;
    margin-left: 93px;
    font-size: 14px;
 }

 #age {
    color: black;
    position: absolute;
    margin-left: 13px;
    margin-top: 203px;
}

#white-rec-base {
    position: absolute;
    flex-direction: column;
    margin-left: 86px;
    
}

#white-rec1 {  
    margin-top: 195px;
    width: 208px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    
}

#white-rec2 {
    width: 208px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    margin-top: 20px;
}


#age-num {
    color: #606060;
    position: absolute;
    margin-left: 141px;
    margin-top: 204px;
 }
 
 #kids {
     color: black;
     position: absolute;
     margin-left: 13px;
     margin-top: 253px;
 }
 
 #kids-num {
     color: #606060;
     position: absolute;
     margin-left: 146px;
     margin-top: 254px;
 }

 #rec-wrapper {
    position: absolute;
    margin-left: 43px;
    flex-direction: column;
}

#clothes-request {
    margin-top: 287px;
}

#big-white-rectangle1 {
    background-color: white; 
    width: 252px;
    height: 30px;
    border-radius: 3px;
    margin-top: 11px;

}

#address-text {
    margin-top: 11px;
}

#big-white-rectangle2 {
    width: 252px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    margin-top: 11px;
}

#clothes-details {
    margin-left: 4px;
    color: #606060;
    margin-top: -94px;
}

#address-detail {
    margin-left: 4px;
    color: #606060;
    margin-top: 53px;
}

#history i {
    font-size: 24px;
    position: absolute;
    margin-left: 25px;
    margin-top: 461px;
}

#history-text {
    position: absolute;
    margin-top: 463px;
    margin-left: 63px;
    width: 200px;
    font-size: 18px;
}

#inside-big-rec {
    margin-left: 419px;
    position: absolute;
    margin-top: -113px;
}

#big-rectangle {
    width: 862px;
    height: 690px;
    background-color: #B3D1FF;
    border-radius: 30px;
}

#request-details {
    position: absolute;
    font-size: 26px;
    margin-top: 32px;
    margin-left: 40px;
}

#ask-for {
    position: absolute;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 91px;

}

#ask-for-form {
    width: 276px;
    height: 467px;
    margin-left: 40px;
    padding-top: 125px;
}

#first-two-options {
    margin-right: 5px;
    font-size: 18px;
}

#girls {
    margin-left: 67px;
}

#second-two-options {
    margin-right: 5px;
    font-size: 18px;
     margin-top: 20px;
}

#women {
    margin-left: 71px;
}

input[type="radio"] {
    margin-right: 6px;
}

select[name="age"] {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 18px;
}

select[name="type"] {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 4px;
    border-radius: 4px;
    font-size: 18px;
}

select[name="size"] {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 18px;
}

select[name="color"] {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 3px;
    border-radius: 4px;
    font-size: 18px;
}

#classification {
    position: absolute;
    margin-top: 20px;
    font-size: 24px;

}

#first-part {
    margin-top: 55px;
    font-size: 18px;
}

#second-part {
    margin-top: 20px;
    font-size: 18px;
}

#winter {
    margin-left: 45px;
}

#other {
    margin-left: 20px;
}

input[type="submit"] {
    height: 29px;
    width: 222px;
    background-color: #3D8AF7;
    border-color: #3D8AF7;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    margin-left: 20px;
}

#dote1 {
    font-size: 13px;
    margin-left: 150px;
    margin-top: -20px;
    color: #1E5BB5;
}

#dote2 {
    font-size: 13px;
    margin-left: 180px;
    margin-top: -13px;
    color: #6D99D9;
}

#request-white-rec {
    position: absolute;
}

#rec-size {
    width: 447px;
    height: 533px;
    background-color: white;
    border-radius: 24px;
    margin-left: 380px;
    margin-top: -530px;
}

#no-clothes-img {
    width: 86px;
    height: 86px;
    position: absolute;
    margin-left: 561px;
    margin-top: -346px;
}

#no-clothes {
    position: absolute;
    margin-left: 471px;
    font-size: 24px;
    margin-top: -258px;
}

#save-bttn {
    position: absolute;
    width: 286px;
    height: 44px;
    margin-left: 461px;
    margin-top: 7px;
    font-size: 24px;
    border-color: #3D8AF7;
    font-weight: bold;
}
